/* regola generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 30px;
}
#bottone {
  border: 1px solid #fe775a;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  color: #fe775a;
  text-decoration: none;
}
#hover a:hover {
  background-color: #FFBCAC;
  border-color: #FFBCAC;
  color: white;
}
.bottone {
  border: 1px solid #fe775a;
  border-radius: 3px;
  padding: 10px;
  background-color: #fe775a;
  color: white;
  text-decoration: none;
}
.hover a:hover {
  background-color: #FFBCAC;
  border-color: #FFBCAC;
  }
.margine {
  margin: 0 15%;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
h4 {
  margin-bottom: 30px;
}
h3 {
  font-size: 28px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
  color: black;
}
/* proprietà nav prima sezione */
nav section:first-child {
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
  padding: 28px 0;
}
.nav-sx span:first-child {
  padding-right: 30px;
  margin-right: 28px;
  border-right: 1px solid black;
}
.nav-sx {
  float: left;
}
.nav-dx {
  float: right;
}
.nav-dx div {
  display: inline-block;
  padding-left: 20px;
}
.navigatore.nav-sx a:hover {
  color: gray;
}
/* proprietà nav seconda sezione */
#nav-fixed {
  height: 80px;
  background-color: white;
  z-index: 600;
  position: sticky;
  top: 0;
}
.nav-collegamenti li {
  display: inline-block;
  padding-left: 25px;
  line-height: 80px;
}
.nav-collegamenti a:hover {
  color: gray;
}
.zinga {
  line-height: 94px;
}
/* proprietà intestazione */
header {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  padding: 50px 0;
  min-height: 792px;
}
.header-prima {
  max-width: 450px;
}
.header-prima h1 {
  font-size: 40px;
}
.header-prima p {
  margin: 40px 0;
}
#confine {
  height: 80px;
  background-color: #afebe4;
  border-bottom: 3px solid #33475C;
}

/* proprietà main */
main {
  background-color: #F5F8FA;
}
.icona-main {
  max-height: 100px;
  margin-bottom: 30px;
}

/* main prima sezione */
.main-sez-prima {
  text-align: center;
  padding: 50px 150px;
}
.main-sez-prima img {
  width: 150px;
}
/* main seconda sezione */
.main-sez-due {
  background-color: white;
  padding: 50px 0;
  border-radius: 6px;
}
#col-sx-main-sez2 {
  float: left;
  width: 30%;
  text-align: center;
}
#col-dx-main-sez2 {
  float: left;
  width: 70%;
  padding-right: 140px;
}
#col-dx-main-sez2 i {
  padding-left: 25px;
  padding-right: 13px;
  color: #FF7A59;
}
/* proprietà main sezione terza */
.colonna-main {
  float: left;
  width: calc(100% / 3 - 28px);
  background-color: white;
  padding: 30px 30px;
  text-align: center;
  border-radius: 5px;
  /* debug */
  min-height: 700px;
}
.test-hover {
  transition: transform 1s ease;
}
.test-hover:hover {
  transform: scale(1.1);
}
.col1-main {
  margin-right: 14px;
}
.col2-main {
  margin: 0 28px;
}
.col3-main {
  margin-left: 14px;
}
.main-sez-tre i {
  padding-right: 10px;
  color: #FF7A59;
}
.col-giù ul {
  text-align: left;
  list-style-type: none;
  margin-bottom: 40px;
}
.col-main h3 {
  margin: 15px 0;
}
.colonna-main hr {
  margin: 90px 0 50px;
}
.main-sez-tre {
  padding: 40px 0;
}

/* proprietà main quarta sezione */
.main-sez-quattro {
  background: #00ADB4;
  color: white;
  padding: 40px 0;
  text-align: center;
}

/* parte inferiore main sez quattro */
.row-quattro-su div:nth-child(1), .row-quattro-su div:nth-child(2), .row-quattro-su div:nth-child(3), .row-quattro-giù div:nth-child(1), .row-quattro-giù div:nth-child(2), .row-quattro-giù div:nth-child(3) {
  border-right: 1px solid white;
}
.row-quattro-giù {
  border-top: 1px solid white;
}
.row-quattro-su h2, .row-quattro-giù h2 {
  line-height: 60px;
}
.row-quattro-su > div, .row-quattro-giù > div {
  float: left;
  padding: 15px 0;
  width: calc(100% / 4);
  min-height: 130px;
}
.main-sez-quattro-giù {
  margin: 40px 0;
}

/* proprietà main sezione quinta */
.row-main-sez5 {
  margin: 70px 0;
}
.row-main-sez5 > div {
  float: left;
}
.col-main-sez5-sx h3 {
  font-size: 50px;
  padding-bottom: 20px;
}
.col-main-sez5-sx {
  width: 40%;
  padding: 0 70px 0px 80px;
}
.col-main-sez5-dx {
  width: 60%;
}
.col-main-sez5-dx img {
  max-width: 130px;
  padding: 15px 15px;
  float: left;
}
.col-main-sez5-dx div:after {
  content: "";
  display: table;
  clear: both;
  }

/* row2-sez5-main */
.row2-main-sez5 > div {
  width: 50%;
  float: left;
}
.col2-main-sez5-sx {
  padding: 40px 50px 50px 0;
}
.row2-main-sez5 img {
  padding-left: 200px;
  width: 500px;
}

/* proprietà footer */
footer {
  background-color: #2D3E50;
  padding: 35px 0;
  color: white;
  font-size: 16px;
}

/* prima sezione footer */
footer ul {
  padding-right: 30px;
  list-style-type: none;
}
footer li {
  padding: 10px 0;
}
.col-footer {
  width: calc(100% / 4);
  float: left;
}
.col-footer a {
  margin-right: 10px;
  color: white;
  font-size: 10px;
}
#bottone-footer {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  text-align: center;
  color: black;
}
#bottone-footer:hover {
  background-color: gray;
  color: white;
}
/* seconda sezione footer */
#link-lingua a {
  color: white;
}
.float-sx {
  float: left;
}
.float-dx {
  float: right;
}
#spazio-white {
  word-spacing: 18px;
}
.row2-footer {
  padding-top: 60px;
}
#link-lingua {
  word-spacing: 15px;
  text-align: center;
  padding-bottom: 18px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
#link-lingua a:hover {
  color: gray;
}
