/* regola generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bottone {
  border: 1px solid #fe775a;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  color: #fe775a;
  text-decoration: none;
}
.bottone {
  border: 1px solid #fe775a;
  border-radius: 3px;
  padding: 5px;
  background-color: #fe775a;
  color: white;
  text-decoration: none;
}
.margine {
  margin: 0 15%;
}
.centratura {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
/* proprietà nav prima sezione */
nav section:first-child {
  background-color: #f4f9fd;
  height: 80px;
  border-bottom: 1px solid black;
}
.navigatore {
  line-height: 80px;
}
.nav-sx {
  float: left;
}
.nav-dx {
  float: right;
}
.nav-dx div {
  display: inline-block;
}

/* proprietà nav seconda sezione */
#nav-fixed {
  height: 80px;
  line-height: 80px;
  background-color: white;
  height: 80px;
  z-index: 600;
  position: sticky;
  top: 0;
}
.nav-collegamenti a {
  text-decoration: none;
  color: black;
  margin: 0 8px;
}

/* proprietà intestazione */
header {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  /* debug */
  height: 695px;
}
.header-prima div {
  max-width: 450px;
}
.header-prima h1 {
  font-size: 40px;
}
.header-prima p {
  margin: 40px 0;
}
#confine {
  height: 80px;
  background-color: #afebe4;
  border-bottom: 3px solid #33475C;
}

/* proprietà main */
main {
  background-color: #F5F8FA;
  /* debug */
  min-height: 1000px;
}

/* main prima sezione */
.main-sez-prima {
  height: 283px;
  text-align: center;
}
.main-sez-prima img {
  margin-top: 40px;
  width: 150px;
}

/* main seconda sezione */
.main-sez-due {
  background-color: white;
  border-radius: 6px;
  height: 200px;
  position: relative;
  /* margin-bottom: 50px; */
}
.icona-main {
  max-height: 100px;
}
#main-sex-due-sx {
  float: left;
  width: 30%;
  height: 100%;
  position: relative;
}
#main-sez-due-dx {
  float: left;
  width: 70%;
  padding-right: 80px;
}

/* proprietà main sezione terza */
.col-main {
  float: left;
  width: calc(100% / 3 - 40px);
  background-color: white;
  padding: 20px 40px;
  text-align: center;
  /* debug */
  margin: 0 20px;
  min-height: 500px;
}
.col-giù ul {
  text-align: left;
  list-style-type: none;
  margin-bottom: 40px;
}
.col-main h3 {
  margin: 15px 0;
}
.col-main hr {
  margin: 40px 0;
}
.main-sez-tre {
  padding: 40px 0;
}

/* proprietà main quarta sezione */
.main-sez-quattro {
  background: #00ADB4;
  color: white;
  padding: 40px 0;
  text-align: center;
}

/* parte inferiore main sez quattro */
.row-quattro-su div:nth-child(1), .row-quattro-su div:nth-child(2), .row-quattro-su div:nth-child(3), .row-quattro-giù div:nth-child(1), .row-quattro-giù div:nth-child(2), .row-quattro-giù div:nth-child(3) {
  border-right: 1px solid white;
}
.row-quattro-giù {
  border-top: 1px solid white;
}
.row-quattro-su div, .row-quattro-giù div {
  float: left;
  padding: 15px 0;
  width: calc(100% / 4);
  min-height: 130px;
}
.main-sez-quattro-giù {
  margin: 40px 0;
}
/* da modificare interamente */
#provaa {
  position: relative;
}
aside {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* proprietà main sezione quinta */
.row-main-sez5 {
  margin: 30px 0;
}
.row-main-sez5 > div {
  float: left;
}
.col-main-sez5-sx {
  width: 40%;
}
.col-main-sez5-dx {
  width: 60%;
}
.col-main-sez5-dx img {
  width: 75px;
  float: left;
}
.col-main-sez5-dx div:after {
  content: "";
  display: table;
  clear: both;
  }

/* row2-sez5-main */
.row2-main-sez5 > div {
  width: 50%;
  float: left;
}
.row2-main-sez5 img {
  padding-left: 200px;
  max-width: 100%;
}

/* proprietà footer */
footer {
  background-color: #2D3E50;
  padding: 35px 0;
  color: white;
  font-size: 16px;
}

/* prima sezione footer */
footer ul {
  padding-right: 30px;
  list-style-type: none;
}
footer li {
  padding: 10px 0;
}
.col-footer {
  width: calc(100% / 4);
  float: left;
}
.col-footer a {
  margin-right: 10px;
  color: white;
  font-size: 10px;
}
#bottone-footer {
  display: inline-block;
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  background-color: white;
  text-align: center;
}
#bottone-footer a {
  color: black;
  text-decoration: none;
}
#link-lingua a {
  text-decoration: none;
  color: white;
}
.float-sx {
  float: left;
}
.float-dx {
  float: right;
}
#spazio-white {
  word-spacing: 18px;
}
.row2-footer {
  padding-top: 60px;
}
#link-lingua {
  word-spacing: 15px;
  text-align: center;
  padding-bottom: 18px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
